blinker
certifi
charset-normalizer
click
colorama
cramjam
dash>=3.0.0
fastparquet
Flask
fsspec
idna
importlib_metadata
itsdangerous
Jinja2
joblib
MarkupSafe
matplotlib
narwhals
nest-asyncio
numpy
packaging
pandas
plotly
py4j
pyarrow
pyspark
python-dateutil
requests
retrying
scikit-learn
seaborn
setuptools
six
torch
typing_extensions
tzdata
urllib3
Werkzeug
zipp
